#answers {
	float: left;
	margin-left: 10px;
}

.title {
	float: left;
}

/*.page {
	width: 700px;
}
*/
.info {
	float: right;
}

.sample {
	padding-bottom: 5px;
}

.preamble {
	border: 2px solid #414141;
	padding: 5px;
}

.sample_button {
	float: left;
	vertical-align: middle;
	/*width: 100px;*/
}

.clue_ans_labels {
	float: left;
	padding-right: 5px;
	text-align: right;
}

.solver_desc {
	width: 650px;
}

.header {
	height: 80px;
}

#answers a {
	color: black;
}

#similarities {
	float: left;
}

#answer_nav {
	float: left;
	padding: 5px;
	border: 2px solid #414141;
}

#derivations {
	float:left;
	border: 2px solid #414141;
	margin-left: 20px;
	padding: 5px;
	width: 75%;
}

.answer_header {
	font-size: 20pt;
}

#clue_form {
	padding: 5px;
	/*border: 5px solid #414141;*/
}

#clue_entry {
	/*border: 2px solid #414141;*/
}

#clue_form input {
	width: 100%;
	font-size: larger;
}

#solution img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

