div#answers {
	float: left;
	margin-left: 10px;
}

div#answers a {
	color: black;
}

div#similarities {
	float: left;
}

div#answer_nav {
	float: left;
	padding: 5px;
	border: 2px solid #414141;
}

div#derivations {
	float:left;
	border: 2px solid #414141;
	margin-left: 20px;
	padding: 5px;
}

.answer_header {
	font-size: 20pt;
}

#clue_form {
	padding: 5px;
	/*border: 5px solid #414141;*/
}
