$def with (server)
<html>
  <head>
    <link href='/static/css/crypticweb.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/jquery/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript">var SERVER="$server"</script>
    <script type="text/javascript" src="/static/js/client.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="title">
          <h1>Cryptic Crossword Clue Solver</h1>
        </div>
        <div class="info">
          <a href="https://github.com/rdeits/cryptics">Source code</a> | <a href="http://blog.robindeits.com/2013/02/11/a-cryptic-crossword-clue-solver/">More information</a><br>
        </div>
      </div>

      <div class="preamble">
        <div class="solver_desc">
          This is a general tool for solving cryptic (or "British-style") crossword clues.  Run it by entering a cryptic clue along with the answer length (or lengths) in parentheses. If you know some of the letters in the answer, you can type them in after the lengths, using a single '.' for each unknown letter. Here are some examples of clues it can solve correctly:
        </div>
        <br>

        <div id="sample_clues">
        </div>
        <br>

        <div class="solver_desc">
          Longer clues take longer to solve. You can help the solver by connecting words which act together with an underscore ('_') to from a phrase, as with "rises_and_falls" in the last example.
        </div>
      </div>

      <div id="clue_entry">
        <form name="main" method="post" id="clue_form">
          <label for="Clue"></label>
          <input name="Clue" type="text" id="clue_text" placeholder="Spin broken shingle (7) ..g...."/>
          <input type="submit" value="Solve"/>
        </form>
      </div>

      <div id="solution">
      </div>
    </div>
  </body>
</html>