$def with (answers, clue, err_msg)
$if err_msg:
	$:err_msg
$else:
	$if answers is not None:
		<div id="answer_nav">
		<div id="similarities">
		<b>Score</b><br>
		$for (sim, ans) in answers.sorted_answers():
			$"{:.0%}".format(sim) <br>
		</div>
		<div id="answers">
		<b>Answer</b><br>
		$for (sim, ans) in answers.sorted_answers():
			<a href="#ans_header_$ans">$ans</a> <br>
		</div>
		</div>
		<div id="derivations">
			$for (sim, ans) in answers.sorted_answers()[:200]:
				<div id="ans_header_$ans"><h2>$ans: $"{:.0%}".format(sim) </h2>
				$for ann in answers.answer_derivations[ans][:5]:
					$ann.derivation() <br>
					$ann.long_derivation() <br><br>
				</div>
		</div>
